h1 {
    @include fnn;
    color: $first-color;
    font-size: 44px;
    line-height: 74px;
}

h2 {
    @include fnb;
    color: $third-color;
}

h3 {
    @include fnb;
    color: $second-color;
}

h4 {
    @include fnb;
    @include flcreator;
    color: $second-color;
}

h5 {
    @include fnn;
    @include flcreator;
    color:$fifth-color;
}

p {
    @include fnn;
    color: $fifth-color;
}
